.card-image {
    height: 60%;
    aspect-ratio: 1.5;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    overflow: none;
}

.card-image > img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    top: 100%;
    transform: translateY(-100%);
    width: 100vw;
    height: var(--menu-height);
    background: rgb(219, 218, 218);
    z-index: 0;
    overflow: hidden;
}

.menu-swiper {
    height: 300px;
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    transition: all 1s;
    perspective: 100px;
}

.menu-card {
    display: flex;
    height: 300px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5vw;
    transform: translateZ(-50px);
    transition: transform 1s cubic-bezier(0.45, 0.02, 0.09, 0.98);
    perspective: 100px;
    border: none;
}

.menu-card:hover {
    cursor: pointer;
}

.menu-card:hover > .card-image {
    transform: translateZ(1px);
}

.zoom-in {
    transform: translate3D(0, 0, 0);
}

#menu-button {
    height: 80px;
    width: 80px;
    border-radius: 5rem;
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, -25%);
    transition: all 1s;

    font-size: 1vw;
    font-weight: bold;
    display: grid;
    place-content: center;
    border: none;
    z-index: 10;

    background: #686de0;
    color: white;
}

#menu-button > i {
    font-size: 20px;
}

#menu-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .card-image {
        height: 50%;
    }
}

@media screen and (max-width: 700px) {
    #menu-button {
        height: 70px;
        width: 70px;
    }
}

@media (pointer: none), (pointer: coarse) {
    .menu-swiper {
        outline: 2px solid red;
        overflow: scroll;
        width: 100vw;
        padding-right: 0;
    }

    .menu-swiper::after {
        display: inline-block;
        min-width: 25px;
        content: '';
    }
}

@media (orientation: portrait) {
    #menu-button {
        top: -moz-available;
        top: -webkit-fill-available;
        top: stretch;
    }
}
